.jo {
    background-color: #292525;
    color: #fff;
    margin-bottom: 2rem;
    padding: 2rem 2rem;
}

.header {
    margin-left: 20px;
    margin-right: auto;
    padding-left: 1px;
    padding-right: 1px;
    background-color: #1A1818;
    color: #fff;
    margin-bottom: 1rem;
    padding: 1rem 1rem;
    }
.container {
    margin-left: 20px;
    margin-right: auto;
    padding-left: 1px;
    padding-right: 1px;
}

